:root {
    --primary-color: black;
    --secondary-color: white;
}
* {
    margin: 0;
    padding: 0;
    
}
body {
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
/* Navbar styles */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 70px;
    
    /* background-color: rgb(19, 24, 63); */
    position: fixed;
    z-index: 1;
    width: 93%;
    
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

li:hover {
    border-bottom: 2px solid white;
}






/* Hero styles */

.hero video {
   opacity: 0.9;
}



.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: url(assets/Tokyo\ Underground.\ _\ 4K.mp4);
    z-index: 0;
    
}
.hero video {
    width: 100%;
}

/* second-section */

.second-section {
    width: 100%;
    height: 90vh;
 
    
}


.text-container {
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-top: 10%;
    display: flex;
    gap: 50px;
    text-align: justify;
    
}

.text-container h2:hover {
    color: rgb(64, 241, 241);
    transition: 500ms;
    cursor: pointer;
  
}

    .new {
        margin-left: 160px;
    }


    /* Carousel */
    .article-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-right: 50px;
        overflow: hidden;
        margin-top: 30px;
        width: 100%;
        gap: 205px;
        display: flex;
    
    }
    .article-container-second {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 20px;
        margin-right: 50px;
        overflow: hidden;
        margin-top: 30px;
        width: 100%;
        gap: 205px;
        display: flex;
      
    }
    .article-container-box {
        width: 100px;
        display: inline-block;
        border-radius: 50px;
        animation: flowGrid 50s linear infinite;
       
    }
    .article-container-second-box {
        width: 100px;
        display: inline-block;
        border-radius: 50px;
        animation: flowGridTwo 50s linear infinite;
      
       
    }
    .article-container-box img {
        width: 300px;
    }
    .article-container-second-box img {
        width: 300px;
    }
    .article-container-box:hover {
        transform: scale(1.01);
    
    }
    
    
    /* Key frames for animatiom */
    @keyframes flowGrid {
        0% {
            transform: translateX(50%);
        }
        25% {
            transform: translateX(-700%);
        }
        50% {
            transform: translateX(-1500%);
        }
        75% {
            transform: translateX(-700%);
        }
        100% {
            transform: translateX(50%);
        }
    }
    @keyframes flowGridTwo {
        0% {
            transform: translateX(-1000%);
        }
        25% {
            transform: translateX(-500%);
        }
        50% {
            transform: translateX(0%);
        }
        75% {
            transform: translateX(-500%);
        }
        100% {
            transform: translateX(-1000%);
        }
    }



/* SECTION 3 */

/* Set styles for the third section container */
.third-section {
    width: 100%;
    margin-top: 150px;
    height: 60vh;
    gap: 20px; /* This gap property is not applicable to non-grid elements */
}

/* Style for the faqs container */
.faqs-container {
    width: 80%;
    margin: auto;
     /* Adjusted to use rgba for transparency */
}

/* Apply grid layout for the FAQ cards */
.faq-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Changed 2fr to 1fr for equal width columns */
    gap: 20px; /* Add gap between grid items */
}

/* Style for individual FAQ cards */
.faq-card {
    background-color: #2e2c2c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Adjusted margin to create space between cards */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.faq-card button{
    padding: 3px;
    font-weight: 500;
    border: none;
    background-color: #2e2c2c00;
    color: white;
    font-size: 20px;
}
.faq-card button:hover {
    cursor: pointer;
}

/* Style for FAQ card headings */
.faq-card h3 {
    margin-top: 0;
}

/* Style for FAQ card paragraphs */
.faq-card p {
    display: block;
}

  

/* Footer */

.footer {
    width: 100%;
    height: 100%;
    background-color: blue;
    padding:  5px 0px;
   vertical-align: middle;
   display: flex;
   justify-content: space-around;
   margin-top: 200px;
   
   

}
ul {
    margin: 10px;
}
.footer ul {
    list-style-type: none;
}
.socials ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    font-size: 30px;
    
}