<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="../../../css/responsive.css">
    <link rel="stylesheet" href="../../../css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
    <title>JDM.com</title>
</head>
<body>
    
    <div class="navbar" id="navbar">
        <ul>
            <li><a href="../LoginForm/main/index.html">Home</a></li>
            <li><a href="../../components/LoginForm/main/index.html">JDM</a></li>
            <li><a href="">Siundq</a></li>
        </ul>

        <ul>
            <li><a href="../about/about.html">About Us</a></li>
            <li><a href="../../Blog/blog.html" class="current">Blog/News</a></li>
            <li><a href="../LoginForm/main/index.html"> FAQ Page</a></li>
            <li><a href="#socials">Contact Us</a></li>
        </ul>

    </div>


    <!-- MAIN SECTION -->
    <div class="video-container">
        <video src="../../assets/Tokyo Underground. _ 4K.mp4" autoplay loop muted></video>
    </div>


    <div class="second-section">
        <h1>What's happening?</h1>
        <div class="article">


            <div class="second-section-first">
                <div class="image-container">
                    <div class="frame"  id="clickable-img-frame">
                        <img src="../../assets/images/OIP (2).jpg" alt="" class="stageOfTheGame" id="clickable-img">
                    </div>
                   
                    <h2>State of the Game 2024</h2>
                </div>
            </div>




            <div class="second-section-second">

                <div class="info" style="padding-top: 50px;">
                    Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
                </div>
                <div class="info">
                    Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
                </div>
                <div class="info">
                    <article>Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus</article> 
                </div>
                
            </div>
        </div>

    </div>


    <!-- This is for section 2 -->

    <div class="second-section" id="au">
        
    </div>


    <!-- FOOTER -->

    <div class="footer">
        <div class="feedback">
            <ul>
                <li><a href=""> Feedback Module:</a></li>
            </ul>
        </div>
        <div class="socials" id="socials">
            <ul>
                <li><a href="https://www.facebook.com/elhvjri"><i class="fab fa-facebook"> </i></a></li>
                <li><a href=""><i class="fab fa-twitter"> </i></a></li>
                <li><a href=""><i class="fab fa-github"> </i></a></li>
                <li><a href=""><i class="fab fa-instagram"> </i></a></li>
            </ul>
        </div>
    </div>

    <script src="blog.js"></script>
</body>
</html>