<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="../../../css/responsive.css">
    <title>JDM.com</title>
</head>
<body>
    
    <div class="navbar" id="navbar">
        <ul>
            <li><a href="../LoginForm/main/index.html">Home</a></li>
            <li><a href="">JDM</a></li>
            <li><a href="">Siundq</a></li>
        </ul>

        <ul>
            <li><a href="../../about/">About Us</a></li>
            <li><a href="../../Blog/blog.html" class="current">Blog/News</a></li>
            <li><a href=""> FAQ Page</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>

    </div>



    <!-- This is for section 2 -->

    <div class="second-section" id="au">
        
    </div>

    <script src="main.js"></script>
</body>
</html>