<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="../../../css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>


    <div class="navbar" id="navbar">
        <ul>
            <li><a href="../LoginForm/main/index.html">Home</a></li>
            <li><a href="#">JDM</a></li>
            
        </ul>

        <ul class="secondul">
            <li><a href="../../about/about.html" style="color: blue;">About Us</a></li>
            <li><a href="../Blog/blog.html">Blog/News</a></li>
            <li><a href="../LoginForm/main/index.html"> FAQs</a></li>
            <li><a href="#socials">Contact Us</a></li>
        </ul>

    </div>




    <section class="section-1">
        <div class="container  ">
          <div class="heading_container heading_center">
            <h2>
              About <span>Us</span>
            </h2>
            <p>
              Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
            </p>
          </div>
          <div class="row">
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="images/about-img.png" alt="">
              </div>
            </div>



            <div class="section-2">
                <div class="jdmlogo">
                    <img src="../../assets/images/jdmlogo.jpg" alt="">
                </div>


              <div class="detail-box">
                <h3>
                  We Are JDM Cultures
                </h3>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                  the middle of text. All
                </p>
                <p>
                  Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
                </p>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                  the middle of text. All
                </p>
              </div>



            </div>
          </div>
        </div>
      </section>
    
      <!-- end about section -->
    
      <!-- info section -->

      <div class="info-container">
        <div class="part1">
            <h2>Information Section</h2>
            <p>Welcome to our platform. Here's some essential information:</p>
            <ul>
                <li>Featured JDM builds</li>
                <li>Interviews with builders and enthusiasts</li>
                <li>Event coverage and highlights</li>
                <li>Tips and guides for JDM enthusiasts</li>
            </ul>
        </div>
        <div class="part2">
            <h2>Information Section</h2>
        <p>Welcome to our platform. Here's some essential information:</p>
        <ul>
            <li>Featured JDM builds</li>
            <li>Interviews with builders and enthusiasts</li>
            <li>Event coverage and highlights</li>
            <li>Tips and guides for JDM enthusiasts</li>
        </ul>
        </div>
        
      </div>
      <div class="rndm"><p>Got a question or want to share your own JDM build? Feel free to get in touch with us via email at info@jdmwebsite.com or through our social media channels!</p></div>


      <!-- Footer section -->
      <div class="footer">
        <div class="feedback">
            <ul>
                <li><a href=""> Feedback Module:</a></li>
            </ul>
        </div>
        <div class="socials" id="socials">
            <ul>
                <li><a href="https://www.facebook.com/elhvjri"><i class="fab fa-facebook"> </i></a></li>
                <li><a href=""><i class="fab fa-twitter"> </i></a></li>
                <li><a href=""><i class="fab fa-github"> </i></a></li>
                <li><a href=""><i class="fab fa-instagram"> </i></a></li>
            </ul>
        </div>
    </div>
    
      
    
      <script src="about.js"></script>
</body>
</html>